@media (max-width: 319px) {
  .footer {
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgb(11, 190, 209);
    padding: 10px;
    color: #fff;
  }
}

@media (min-width: 320px) {
  .footer {
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgb(11, 190, 209);
    padding: 10px;
    position: fixed;
    color: #fff;
  }

  .item {
    display: block;
  }
}
