@media (max-width: 319px) {
  .header {
    background-color: rgb(11, 190, 209);
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    font-size: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    z-index: 2;
    background-color: rgb(11, 190, 209);
    color: #fff;
    transition: all 1s;
    font-size: 15px;
  }
  .modalContent {
    max-height: 70vh;
    overflow-y: auto;
  }
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }
  .closeButton {
    position: absolute;
    top: 10px;
    right: 30px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(11, 190, 209);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
  }
  .button {
    background-color: white;
    color: rgb(11, 190, 209);
    font-weight: bold;
    border: none;
    margin-top: 5px;
  }
}

@media (min-width: 319px) {
  .header {
    background-color: rgb(11, 190, 209);
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    font-size: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .button {
    background-color: white;
    color: rgb(11, 190, 209);
    font-weight: bold;
    border: none;
    margin-top: 5px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    z-index: 2;
    background-color: rgb(11, 190, 209);
    color: #fff;
    transition: all 1s;
    font-size: 15px;
  }

  .modalContent {
    max-height: 70vh;
    overflow-y: auto;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 30px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(11, 190, 209);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
  }
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }
}

@media (min-width: 500px) {
  .modal {
    max-width: 500px;
    transition: all 1s;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .modal {
    max-width: 1200px;
    transition: all 1s;
    font-size: 30px;
  }
}
