.item {
  /* display: flex; */
  align-items: center;
}

.itemContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  margin-left: auto;
}

.itemName {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton,
.editButton {
  padding: 12px 20px;
  border: none;
  background-color: rgb(11, 190, 209);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.deleteButton + .editButton {
  margin-left: 5px;
}

@media (max-width: 319px) {
  .item {
    width: 100%;
    color: #353535;
    font-size: 20px;
    margin: 0 auto;
  }

  .itemName {
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
  }

  .itemName.space-between {
    white-space: normal;
    word-wrap: break-word;
  }

  .line {
    border: 1px solid #dbd9d9;
  }

  .blueButton {
    display: flex;
    margin-left: 40px;
  }
}

@media (min-width: 320px) {
  .item {
    width: 100%;
    color: #353535;
    font-size: 20px;
    margin: 0 auto;
  }

  .itemName {
    font-weight: bold;
    padding: 5px;
    display: flex;
    white-space: nowrap;
    overflow: auto;
  }

  .itemName.space-between {
    white-space: normal;
    word-wrap: break-word;
  }

  .category {
    margin-left: 10px;
  }
}

@media (min-width: 2000px) {
  .deleteButton,
  .editButton {
    font-size: 35px;
  }

  .category {
    font-size: 40px;
  }

  .itemName {
    font-size: 40px;
  }
}
